$color:white;
$background:#393A3F ;
$width:10rem;

body{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
//  overflow-y: hidden;
}


#wrap{
    width: 100%;
    height: 17.7rem;
}

.header{
    width:100%;    
    height:2rem;
    background: rgba(214,222,227, 0.5);
    text-align: center;
    position: fixed;
    
    .top_p{
    padding: 0.5rem;
    position: fixed;
    font-size: 0.5rem;
    color: $color;
    }
   .wrld{
        float: left;
        font-size: 0.5rem;
        color: $color;
        line-height: 1.5rem;
        margin-left: 4.5rem;
    }
    
    .top_p_sp1 {
    display: inline-block;
    position: fixed;
    right: 1rem;
    font-size: 0.5rem;
    float: right;
    line-height: 2rem;
    }
   }
    
.tab{
    
    width: 100%;
    height: 13rem;
    border: 1px solid #CCCCCC;
    div{
        width: 100%;
        height: 13rem;
        float: left;
        background: #CCC;
        display:none;
    }
div.current{
    width:$width;
    height: 13rem;
    display: block;
//  background: darkseagreen;
    background: #404040;
}

.current box{
     
    .list{margin-top: 2rem;
        width: 100%;
        height: 6rem;
        border: 1px solid green;
        
        display: block;
       .list_1{
          width: 100%;
          height: 2rem;
          border: 1px solid #333333; 
          font-size: 0.37rem;
          
          float: left;
          list-style: none;
          
          
            .right{
             float: right;
           
             font-size: 0.5rem;
            } 
             
          }
          
          }
          
             
         
       }
       .left{
     margin-left: 0.3rem;
        } 
        .singer{
            margin-left: 0.3rem;
            width: 72%;
            font-size: 0.37rem;
            float: left;
            line-height: 1.5rem;
            border-bottom: 1px solid #6e6a6a;
        }  
    }
 

#bos2{
        text-align: center;
        background: #404040;
        
        .title_1{
            margin-top: 2rem;
            text-align: center;
            color: $color;
            float: left;
            width: 100%;
            height: 1rem;
            display: block;
            font-size: 0.5rem;
            background: #404040;
        }
        .title_3{
            float: left;
            width: 6rem;
            height: 2rem;
            display: block;
            background:#404040 ;
            margin-left: 2.5rem;
            div{     
                width: 24%;
                height: 0.7rem;
                float: left;
                border: 2px solid white;
//              border: 1px solid royalblue;
                border-radius: 17px;
                display: block;
                text-align: center;
                margin: 0.1rem;
                margin-top: 0.3rem;
                margin-left: 0.2rem;
                background:#404040;
                color: white;
                font-size: 0.37rem;
               a{
                  font-size: 0.4rem; 
                  text-align: center;
                  line-height: 0.7rem;
               } 
            
    
            }
        }
        .title_4{
            width: 100%;
            height: 7rem;
            display: block;
            background: #404040;
            img{
                width: 6rem;
                height: 6rem;
                border-radius: 3rem;
                margin-top: 0.5rem;
            }
             img.rotate{
            -webkit-animation: circle 3s infinite linear ;
    
            }
            @-webkit-keyframes circle{

            0%{ transform:rotate(0deg); }

            100%{ transform:rotate(360deg); }

            }
        }
        .title_5{
            width: 100%;
            height: 1rem;
            font-size:0.37rem ;
            display: block;
            text-align: center;
            background: #404040;
            .words{
                marquee{
                    background: #404040;
            p{
                font-size: 0.37rem;
                color: white;
                text-align: center;
            }
            }
            }
        }
    }
    #bos3{
        text-align: center;
        background: #404040;
        marquee{
            p{
                font-size: 0.37rem;
                color: white;
                text-align: center;
            }
        }
    }



//xuanxiangka   3g dian
.div1_z{
        width: 100%;
        height: 1.5rem;
        box-sizing: border-box;
        border: 1px solid #CCCCCC;
        background: #404040;
    .nav{
        width: 3rem;
        height: 0.7rem;
        
       margin-left:4.7rem;
      
       li{
            list-style: none;
            width: 0.3rem;
            height: 0.3rem;
            border-radius:0.15rem ;
            background: rgba(3, 3, 3, 0.5);
            float: left;
            margin-left: 0.1rem;
         }   
        li.active{
           background:white ;
        }    
       
       
    }
    
    }    
   








.qqbox{
    width: $width;
    height: 1rem;
    background: #404040;
    audio{
        width: $width;
        height: 1rem;
    }
}

.footer{
    width: 99;
    height: 2.3rem;
    text-align: center;
    border: 1px solid #404040;
    background: #404040;
    #xunhuan{
        float: left;
    }
    #onmusic{
        margin-left: 1.3rem;
        color: #36AB60;
        float: left;
    }
    
    #btn{
        float: left;
        overflow: hidden;
        margin-left: 0.5rem;
        margin-top: -0.7rem;
    svg{
        color: green;
        display: block;
        float: left;
        margin: 0.2rem;
        margin-top: 0.7rem;
        
        line-height: 1.4rem;
        display: none;
        
    
    }
    svg.play1{
        color: green;
        display: block;
        margin-left: 0.6rem;
    }
    }
    .taoxin{
        float: left;
        svg{
            display: none;
        }
        svg.xin{
            display: block;
        }
    }
    #menu{
        display: block;
        float: right;
        
    }
    audio{
          display: block;
          width: 4rem;
          height: 2.1rem;
      }
      
    .btn2{
        
        float: left;
        height: 1.2rem;
        width: 100%;
        svg{
            float: left;
            margin-left: 1.3rem;
          }
         #xiazai{
             font-size: 0.8rem;
         }
    }  
      
      
      
}
//.footer{
//  width: $width;
//  height: 2.8rem;
//  text-align: center;
//  border: 1px solid #404040;
//  background: #333333;
//  position: fixed;
//  .tx{
//      width: 2rem;
//      height: 2rem;
//      border-radius:0.5rem  ;
//      float: left;
//      img{
//          width: 2rem;
//          height: 2rem;
//          
//      }
//  }
//  .footer_word{
//      height: 2.1rem;
//      margin-top: 0.3rem;
//      float: left;
//      overflow: hidden;
//      
////      line-height: 2.1rem;
//      h5{
//          font-size: 0.7rem;
//      }
//      p{
//          font-size: 0.5rem;
//          margin-top: 0.5rem;
//          color: green;
//      }
//      
//  }
//  .btn{
//      width: $width;
//      height: 1.1rem;
//      svg{
//      color: green;
//      float: left;
//     
//      margin-left: 1rem;
//      margin-top: 0.2rem;
////      margin-top: 0.7rem;
//      }
//  }
//  #five{
//      font-size: 0.7rem;
//  }
//  
//  .bf{
//          .icon{
//              display: none;
//          }
//          .icon .play{
//              display: block;
//          }
//  
//  .btn2{
//      
//      }
//      float: left;
//      height: 1.2rem;
//      width: 100%;
//  a{
//      float: left;
//      margin-left: 1.2rem;
//      }
//  }
//}