
$color:white;
$background:#393A3F ;
body{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
//  overflow-y: hidden;
}
$width:10rem ;
#wrap{
    width:100%;
    height: 21rem;
}

.header{
    width: $width;    
    height:2rem;
    background: rgba(214,222,227, 0.5);
    position: fixed;

    .top_p{
    padding: 0.2rem;
    
    font-size: 0.5rem;
    color: $color;
    }
    .top_p_sp1 svg{
    display: inline-block;
    float: right;
    position: relative;
    right: 1rem;
    font-size: 0.5rem;
    }
}
.nav{
    background-image:url(../img/zhang/page2/banner/banner1.jpg);
    width: 100%;
    height: 7rem;
    text-align: center;
    img{
        margin-top: 2.3rem;
        border-radius: 1rem;
    }
    p{
        color: $color;
        font-size: 0.5rem;
    }
}
.main{
    width: $width;
    height: 2.2rem;
    border: 1px solid #cccccc;
    float: left;
    ul{
        list-style: none;
    }
    li{
        float: left;
        width: 24.5%;
        height: 2.1rem;
        border-left: 1px solid #c3c9bc;
        margin-top: -1rem;
    }
    .fangke{
        border: none;
    }
    p{
        color: black;
        text-align: center;
        font-size:0.5rem ;
    }
    a{
        color: #857b7b;
        font-size:0.3rem;
        float:left;
        margin-left: 0.85rem;
    }
    
}
.odiv{
    border:3px solid transparent ;
    width: $width;
    height: 2rem;
    margin-bottom:5px ;
    float: left;
    .pic{
        background-image:url(../img/jaytx.jpg);
        width: 2rem;
        height: 2rem;
        float: left;
        text-align: center;
    }
    .pic1{
        @extend .pic;
        background-image:url(../img/jay.jpg) ;
    }
    .pic2{
        @extend .pic;
        background-image: url(../img/jin3.jpg);
        img{
            width: 1rem;
            height: 1rem;
            margin-top: 1rem;
        }
    }
    .pic3{
        @extend .pic;
        background-image: url(../img/jinzhiwen.jpg);
    }
    
    .pic svg{
        margin-top: 1rem;
    }
    p{
        height: 2rem;
        float: left;
   
    .spn1{
        font-size: 0.43rem;
        float: left;
        margin-top:-0.6rem;
        margin-left: 0.5rem;
    }
    .spn2{
        margin-left: 0.5rem;
        font-size: 0.37rem;
        float: left;
        margin-top: -1.2rem;
        color:hsla(11, 5%, 31%, 0.66);
    }
    }
    .lift{
        float: right;
        right: 0.3rem;
        font-size: 0.8rem;
        margin-right: 0.3rem;
    }
    
}
.content{
    float: left;
    text-align: center;
    width: $width;
    height: 2rem;
    h3{
        font-size: 0.43rem;
        line-height: 2rem;
        overflow: hidden;
        float: left;
        margin-left: 4rem;
    }
    .more{
        float: right;
        line-height: 2rem;
        margin-right: 0.3rem;
        margin-top: 0.7rem;
        font-size: 0.8rem;
    }
}
.footer{
    width: $width;
    height: 2.1rem;
    text-align: center;
    border: 1px solid #404040;
    float: left;
    .tx{
        width: 2rem;
        height: 2rem;
        border-radius:0.5rem  ;
        float: left;
        img{
            width: 2rem;
            height: 2rem;
            display: block;
            border-radius: 1rem;
        }img.rotate{
        -webkit-animation: circle 3s infinite linear ;
    
    }
    @-webkit-keyframes circle{

    0%{ transform:rotate(0deg); }

    100%{ transform:rotate(360deg); }

}
    }
    .footer_word{
        height: 2.1rem;
        float: left;
        overflow: hidden;
//      line-height: 2.1rem;
        h5{
            margin-top: 0.2rem;
            font-size: 0.5rem;
            height: 0.1rem;
        }
        p{
            font-size: 0.5rem;
            margin-top: 0.5rem;
            color: green;
        }
        
    }
    #btn{
        float: left;
        overflow: hidden;
    svg{
        color: green;
        display: block;
        float: left;
        margin: 0.2rem;
        margin-top: 0.7rem;
        
        line-height: 1.4rem;
        display: none;
        
    
    }
    svg.play{
        color: green;
        display: block;
        margin-left: 0.6rem;
    }
    }
    #menu{
        display: block;
        float: right;
        margin-top: 0.8rem;
    }
    audio{
          display: block;
          width: 4rem;
          height: 2.1rem;
      }
}
